.container {
  margin: 0 auto;
  padding: 0 1rem;
}

/* Hero Section */
.heroSection {
  background-image: url("/images/join_us.png");
  background-position: top;
  border-radius: 20px;
  background-repeat: no-repeat;
  width: 100%;
  margin: 80px auto;
  /* min-height: 300px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}
@media screen and (min-width: 768px) {
  .heroSection {
    width: 80%;
  }
}
/* Heading */
.heading {
  font-size: 1.25rem; /* ~20px */
  color: #ef552c;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* Gradient Text */
.text {
  font-size: clamp(1.5rem, 5vw, 2.5rem); /* Responsive font size */
  font-weight: 500;
  line-height: 1.5;
  background: linear-gradient(90deg, #ff6347, #ff4500);
  -webkit-background-clip: text;
  color: transparent;
  max-width: 900px;
  margin-bottom: 2rem;
}

/* Button */
.button {
  background-color: #ef552c;
  color: white;
  border: none;
  border-radius: 24px;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 0px 100px 0px #ee552cd6;
  width: 90%;
}

.button:hover {
  background-color: #ff3b1f;
}
