.__span_a52ab2{
    color: #FF9125 ;
    border: 2px solid #FF9125;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

._button_a52ab2{
    font-size: 20px;
}

._div_a52ab2 {
    position: relative;
}

._div_a52ab2::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 1.5px solid transparent;
    border-radius: 10px;
    background: linear-gradient(78.56deg, #252E3D 10.64%, #ADADAD 52.87%, #252E3D 96.32%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    pointer-events: none;
  }