.main {
  background-image: url("/images/hero_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 60px 0;
}

.cover_stroke{
  border: 1px solid #BE4423;
}