.blog {
  background: rgba(37, 46, 61, 0.39);
  border: 2px solid transparent; /* Set border to transparent to allow gradient */
  border-image-source: linear-gradient(
    0.31deg,
    #252e3d 2.64%,
    #adadad 59.29%,
    #252e3d 102.46%
  );
  border-image-slice: 1; /* Ensures the gradient is applied */
  overflow: hidden;
  -webkit-mask-image: radial-gradient(circle, white 100%, transparent 100%);
  border-radius: 10px;
}
@media (min-width: 768px) {
  .blog {
    width: 376px;
    height: 426px;
  }
}
