.testimonial {
  position: relative;
  padding: 16px;
  border-radius: 12px;
  background-color: #252e3d63;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  /* width: 1000px; */
  height: auto;
  flex-wrap: wrap;
}

/* Gradient Border */
.testimonial::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1.5px solid transparent;
  border-radius: 10px;
  background: linear-gradient(
    179.56deg,
    #252e3d 10.64%,
    #adadad 52.87%,
    #252e3d 96.32%
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  pointer-events: none;
  z-index: 1;
}

/* Cursor on swiper */
.swiper-wrapper {
  cursor: grab;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .testimonial {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .testimonial img {
    width: 200px !important;
    height: auto !important;
  }
}
